body {
	margin:0;
	padding:0;
	border:0;
	font-size: 14px;
	font-family: 'Tahoma', sans-serif;
	background: #647346;
}
.container {
	width: auto;
	max-width: 1000px;
	background: #BFA579;
	margin: 0 auto;
	padding: 3em;
	min-height: 600px;
}
.player-card {
	box-sizing: border-box;
	width: 50%;
	margin: 0;
	padding: 50px;
	float: left;
	border:0;
}
.player-card#player1 {
	background: #772019;
	color: white;
}
.player-card#player2 {
	background: #263140;
	color: white;
}
#versus {
	position: absolute;
	left:45%;
	top: 100px;
	text-align: center;
	color: white;
}

.battle-button {
	padding: ;
}